
body{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

}

.image-div{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("Assets/Background.avif");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.logo{
    background-color: rgba(0, 0, 0, 0.479);
    
}
.links{
    margin-top: 100%;
}

.form-div{
    flex-grow: 5;
    flex-basis: 0;
}