/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}


/* :root {
  --primary: rgb(25, 146, 212);
  --accent: rgb(232, 174, 40);
  --background: white;
  --background-text: rgb(248, 252, 254);
  --foreground: rgb(227, 233, 240);
  --foreground-text: rgb(99, 99, 99);
  --text: black; 
} */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.game-board {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  text-align: center;
  align-items: center;
  grid-template-rows: 50px 50px 50px;
  gap: 10px;
  font-size: xx-large;
}

.game-board div {
  background: blue;
  color: white;
  width: 50px;
  height: 50px;
}

.container {
  display: flex;
  flex: 0;
  justify-content: space-around;
  align-items: center;
}

.player {
  text-align: center;
}
