/*
  Josh's Custom CSS Reset
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* My Code */

:root {
  --primary: rgb(93, 137, 170);
  --primary-hover: rgb(52, 93, 124);
  --background: rgb(255, 250, 234);
  --foreground: rgb(152, 188, 214);
  --text-background: black;
  --text-foreground: white;
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: monospace;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template: 1fr / auto 1fr;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

.side-bar {
    background-color: var(--background);
    padding: 16px 32px;
}

.side-menu {
  margin: 32px 0;
}

.page {
  position: relative;
}

/* .header-svg{
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
} */

.content{
  position: absolute;
  padding: 16px 64px;
  width: 100%;
}

.book-list {
  display: grid;
  /* width: 100%; */
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 20px;
}

.book {
  background-color: var(--foreground);
  color: var(--text-foreground);
  padding: 16px 24px;
  border-radius: 2em;
}

.book * {
  padding: 2px 0;
}

button {
  background-color: var(--primary);
  font-weight: bold;
  color: var(--text-foreground);
  border: none;
  border-radius: 10px;
  width: 7em;
  height: 2.1em;
}

button:hover {
  background-color: var(--primary-hover);
}

.one-line {
  display: flex;
}

.book-title {
  display: flex;
  justify-content: space-between;
}